body{
    background-color: rgba(3, 62, 20, 0.712);
    margin : 0;
}
.topnav{
    background-color: rgb(231, 138, 138);
    overflow: hidden;
}
.topnav a{
    color: rgb(125, 242, 154);
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.Footer{
    background-color: rgb(231, 138, 138);
    padding: 20px;
    text-align: center;
    font-size: 0.6em;

}

.content{
    text-align: center;
}
p{
    text-align: center;
}