body{
    background-color: rgb(205, 130, 45);
    margin : 0;
}
.topnav{
    background-color: grey;
    overflow: hidden;
}
.topnav a{
    color: rgb(125, 242, 154);
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav-Right{
    float: right;
}
.Footer{
    background-color: grey;
    padding: 20px;
    font-size: 0.7em;
   text-align:center;
}

.content{
    text-align: center;
}
p{
    text-align: center;
}
*{
    box-sizing: border-box;
}