body{
    background-color: rgb(232, 175, 109);
    margin : 0;
}
.topnav{
    background-color: grey;
    overflow: hidden;
}
.topnav a{
    color: rgb(125, 242, 154);
    float: left;
    display: block;
    text-decoration: none;
    text-align: left;
    padding: 14px 16px;
}
.topnav-Right{
    float: right;
}
.topnav a:hover{
    color: #373737;
    background-color:azure;
    text-decoration:none;
}
footer{
    background-color:grey;
    padding:10px;
    font-size:0.7em;
   text-align:center;
}
.content{
    text-align: center;
}

.header{
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
.form{
    
    width: 100%;
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    box-shadow: grey;
    margin :left;


    
  }
  table{
    border: solid 1px #373737;
    width: 70%;
    border-collapse: collapse;
    padding: 20px;
    border-radius: 5px;
    margin :80px auto;
}
td{
    border: solid 1px #373737;
    padding: 5px;
    text-align: left;
}
th{
    background-color: rgba(0, 0, 0, 90%);
    color: rgba(255, 255, 255, 90%);
    padding: 5px;
    text-align: left;
}
tr:nth-child(odd){
    background-color: bisque;
}
tr:hover{
    background-color: rgb(243, 235, 225);
}

/* Responsive design */
@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .topnav-right {
        float: right;
    }
}
